<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="196x196" href="https://mozilla.github.io/curriculum-final/template-assets/images/favicon.png">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
  {% endblock head%}

  {% block stylesheets %}
  {% do assets.addCss('theme://css/style.css', 98) %}
  {% endblock %}

  {% block blockCss deferred %}
  {{ assets.css()|raw }}
  {% endblock %}
<style type="text/css" media="screen">
.activity-menu, body {
background: #E6E6E6;
}
article.main {
margin: 0 auto;
}
.activity-menu li {
font-weight: bold;
}
</style>
</head>
<body>

  <div class="wrapper" mode="overview">
    <ul class="agenda-navigation">
    {% if page.children.count %}
      <li><a href="#info">Presentation</a></li>
      {% for p in page.children %}
      <li><a href="#step-{{loop.index}}">{{p.title}}</a></li>
      {% endfor %}
    {% endif %}
    </ul>
	
  <article class="main">

  </article>
</div>
<script>
  var activities = [
  {% for p in page.parent.children %}
  {% if p.header.not_in_menu != 1 %}
  {
    not_in_menu: "{{p.header.not_in_menu}}",
    title : "{{ p.title }}",
    url: "{{ p.url }}",
    slug: "{{ p.slug }}",
    langId: "{{ p.header.lang_id }}",
    langTitle: "{{ p.header.lang_title }}",
    langMenuTitle: "{{ p.header.lang_menu_title }}",
  },
  {% endif %}
  {% endfor %}
  ];
  var title = "{{site.title}}";
  var currentSlug = "{{ page.slug }}";
</script>

{% block javascripts %}
{% do assets.addJs('theme://js/template.js', 100) %}
{% endblock %}
{% block blockJs deferred %}
{{ assets.js()|raw }}
{% endblock %}

<script>
setTimeout(function() {
$('.activity-list')[0].style.display = "block";

$('a').click(function(event) {
window.parent.location = event.target.href;
return false;
});
}, 100)

</script>
</body>
</html>
